{{#each this}}
<ul>
    <h1>{{name}}</h1>
    <li>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    {{#each languages}}
    <p>Language: {{name}}</p>
    {{/each}}
    <img src="{{flag}}" alt="{{cioc}}" width="270">
</ul>
</li>
{{/each}}
